aside {
    flex: 0 0 auto;
    width: 200px;
}

main {
    flex: auto;
}

.search.form {
    position: relative;
}

.search.form input {
    position: relative;
    height: 32px;
    box-sizing: border-box;
    width: 100%;
    border: 0;
    padding-left: 30px;
}

.search.form button {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 32px;
    width: 32px;
    border: 0;
    padding: 0;
    background-color: transparent;
}
.filterbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-content: stretch;
    padding-top: 0;
}
.filterbar>*{
    margin: 7px 10px 0 0;
    height: 30px;
    width: 124px;
}
.filter .content-box {
    display: flex;
    flex-flow: row wrap;
    justify-content:start;
    padding: 7px;
}

.photo-container {
    margin: 7px;
    display: block;
    position: relative;
    width: 200px;
    padding-bottom: 200px;
}

.container-l2 a:hover {
    color: rgb(112, 112, 112)
}