.warpper {
    width: 1000px;
    min-width: 60%;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
}

.warpper aside {
    flex: 0 0 auto;
    width: 200px;
}

.warpper main {
    flex: auto;
}

.warpper a {
    text-decoration: none;
    color: unset;
}

.warpper .container-l1 {
    border: 1px solid #d1d5da;
    border-radius: 2px;
    margin: 20px 10px;
}

.warpper .container-l1 .title {
    padding: 10px;
    border-bottom: 1px solid #d1d5da;
    background-color: #f6f8fa;
}

.warpper .container-l2 {
    border-bottom: 1px solid #d1d5da;
    padding: 7px 10px;
}

.warpper .container-l2:last-of-type {
    border-bottom: none;
}

.warpper .search.form {
    position: relative;
}

.warpper .search.form input {
    height: 32px;
    width: auto;
    border: 0;
    padding: 0;
}

.warpper .search.form button {
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    width: 60px;
    border: 0;
    padding: 0;
    border-left: 1px solid #d1d5da;
}

.filter .content-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 7px;
}

.photo-container {
    margin: 7px;
    display: block;
    position: relative;
    width: 200px;
    padding-bottom: 200px;
}

.photo-container img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter .pagination {
    margin: auto;
}

.filter .pagination ul {
    display: flex;
    justify-content: center;
}

.filter .pagination li {
    margin: 0 12px 10px;
}