footer{
    display: block;
    margin-top: 150px;
    background-color: black;
    color: white;
}
footer a{
    text-decoration: none;
    color: unset;
}
footer .footer-content{
    display: flex;
    width: 800px;
    min-width: 60%;
    max-width: 100%;
    margin: auto;
    flex-flow: row wrap;
    justify-content: space-between;
}
footer .footer-content ul{
}
footer .footer-content ul.col{
}
footer .footer-content ul.col li.item{
    padding: 10px 0 0 10px;
}
footer .footer-content ul.col li.item img{
    width: 50px;
    height: 50px;
    background-color: white;
}
footer .footer-info{
    text-align: center;
    font: 14px lighter;
}