header {
    background-color: #0e69af;
}

nav {
    display: flex;
    width: auto;
    min-width: 60%;
    width: 1000px;
    max-width: 100%;
    margin: auto;
}

#nav-left {
    display: inline-flex;
    flex: 3;
    justify-content: flex-start;
    align-content: center;
}

#nav-right {
    display: inline-flex;
    flex: 2;
    justify-content: flex-end;
    align-content: center;
}

nav .item {
    font-weight: 100;
    padding: 16px 20px;
    color: rgb(153, 145, 145);
}

nav .item>a {
    text-decoration: none;
    color: unset;
}

nav .item:hover {    
    transition-duration: 0.4s;
    color: black;
    background-color: #95b6d7;
}

nav .item.current {
    color: gray;
    background-color: #9ab9d8;
}

nav .dropdown {
    position: relative;
    margin-right: 1px;
}

nav .dropdown-content {
    display: none;
}

nav .dropdown:hover>.dropdown-content,
nav .dropdown-content:hover {
    transition-duration: 0.4s;
    display: block;
    position: absolute;
    z-index: 1;
    top: 100%;
    width: 100%;
    right: -1px;
    border: 1px solid #6f6f6f;
    border-radius: 2px;
    background-color: #9ab9d8;
}

nav .dropdown-content>.item {
    margin: 0 2px;
    padding: 10px 0;
    border-bottom: 1px solid gray;
}

nav .dropdown-content>.item:last-child {
    border-bottom: none;
}

nav .dropdown-content>.item img{
    width: 1.2em;
    height: 1.2em;
    vertical-align: bottom;
}