nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 41px;
}
nav ul{
    list-style-type: none;
}
nav a{
    text-decoration: unset;
    color: unset;
}
nav>ul{
    display: block;
    width: 80%;
    margin: 0 auto;
}
nav>ul>li.item{
    text-align: center;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
}
nav>ul>li.item.current{
    color: grey;
}
nav>ul>li.item>a:hover{
    color: navy;
}
nav li.left{
    float: left;
}
nav li.right{
    float: right;
}
nav .dropdown .dropdown-content{
    display: none;
}
nav .dropdown:hover .dropdown-content,nav .dropdown-content:hover{
    display: block;
    
    border: 1px solid black;
}
nav #account-dropdown-content>li{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}