/* public font */
body {
    background-color: #f5f5f5;
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 400;
}

/* public function */
.responsive {
    width: 1000px;
    min-width: 60%;
    max-width: 100%;
    margin: auto;
}

/* public nav */
.nav-container {
    background-color: #2c2c32;
}

.nav {
    display: flex;
}

.nav .nav-left {
    display: inline-flex;
    flex: 3;
    justify-content: flex-start;
    align-content: center;
}

.nav .nav-right {
    display: inline-flex;
    flex: 2;
    justify-content: flex-end;
    align-content: center;
}

.nav .item {
    font-weight: 100;
    padding: 16px 20px;
    color: #ababad;
}

.nav .item:hover {
    transition-duration: 0.4s;
    color: #ffffff;
    background-color: #525257;
}

.nav .item.current {
    color: #999999;
    background-color: #3d3d42;
}

.nav .dropdown {
    position: relative;
    margin-right: 1px;
}

.nav .dropdown-content {
    display: none;
}

.nav .dropdown:hover .dropdown-content,
.nav .dropdown .dropdown-content:hover {
    transition-duration: 0.4s;
    display: block;
    position: absolute;
    z-index: 1;
    top: 100%;
    width: 100%;
    right: -1px;
    border: 1px solid #6f6f6f;
    border-radius: 2px;
    background-color: #f2f2f2;
}

.nav .dropdown-content .item {
    padding: 10px 0;
    color: #000000;
    border-bottom: 1px solid gray;
}

.nav .dropdown-content .item:hover {
    background-color: #e3e3e3;
}

.nav .dropdown-content .item:last-child {
    border-bottom: none;
}

.nav .dropdown-content .item img {
    width: 1.2em;
    height: 1.2em;
    vertical-align: bottom;
}

/* public footer */
.footer-container {
    margin-top: 30px;
}

.footer-multicol {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 10px 0;
}

.footer-multicol .footer-item-col {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 20px);
}

.footer-multicol .footer-icon-col .icon {
    background-color: #ffffff;
    border-radius: 50%;
}

.footer-multicol .footer-icon-col .icon:hover {
    background-color: #b4a0ff;
}

.footer-multicol .footer-icon-col {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(auto-fill, 50px);
}

.footer-multicol .footer-icon-col img {
    width: 50px;
    height: 50px;
}

.footer-brief {
    text-align: center;
    font: 12px lighter;
}

.footer-brief::after {
    content: "\00A9\ 2020 Alct. All Right Reserved.";
}

/* public components */
.container-l0-rowflex {
    display: flex;
    flex-flow: row nowrap;
}

.container-l0-colflex {
    display: flex;
    flex-flow: column nowrap;
}

.container-l1 {
    background-color: #fff;
    border: #dedede solid 1px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin: 20px 10px 0;
}

.container-l1:last-child {
    margin-bottom: 20px;
}

.container-l1>.title {
    padding: 10px;
    border-bottom: 2px solid #d1d5da;
    background-color: #f6f8fa;
    color: rgb(68, 68, 68);
    font-size: 12px;
    font-weight: 600;
}

.container-l2 {
    border-bottom: 1px solid #d1d5da;
    padding: 7px 10px;
    color: rgb(68, 68, 68);
    font-size: 12px;
    font-weight: 400;
}

.container-l2:last-child {
    border-bottom: none;
}

.ptoto-item-container-horizontal {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
}

.ptoto-item-container-vertical {
    display: flex;
    flex-flow: column nowrap;
}

.photo-container {
    display: block;
    position: relative;
    flex: 0 0 auto;
}

.ptoto-item-container-horizontal .photo-container {
    width: 450px;
    padding-bottom: 300px;
    flex: 0 1 auto;
}

.ptoto-item-container-vertical .photo-container {
    width: 100%;
    padding-bottom: 100%;
}

.photo-container img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ptoto-item-container-horizontal .photo-info {
    padding: 10px 30px;
    flex: 1 5 auto;
}

.ptoto-item-container-horizontal .photo-info .title {
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    line-height: 3em;
}
.ptoto-item-container-horizontal .photo-info .author {
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    line-height: 2em;
}
.ptoto-item-container-horizontal .photo-info:hover .title {}

.ptoto-item-container-horizontal .photo-info .brief {
    /* -webkit-line-clamp */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;


    font-size: 14px;
    line-height: 16px;
    text-align: justify;
    line-height: 3em;
}

.ptoto-item-container-horizontal .photo-info:hover .brief {}

.ptoto-item-container-horizontal .photo-info .info {

    font-size: 14px;
    line-height: 16px;
    text-align: justify;
}

.ptoto-item-container-horizontal .photo-info .operation {
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
}

.ptoto-item-container-vertical .photo-info .title {
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.2em 0.5em;
}

.ptoto-item-container-vertical .photo-info .brief {
    /* -webkit-line-clamp */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;


    font-size: 14px;
    line-height: 16px;
    text-align: justify;
}

.pagination {
    margin: auto;
}

.pagination ul {
    display: flex;
    justify-content: center;
}

.pagination li {
    margin: 0 12px 10px;
}

.button {
    margin-right: 30px;
    margin-top: 10px;
    width: 134px;
    height: 50px;
    background: #0066b8;
    border-width: 0;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-size: 16px;
}

.center-button {
    display: block;
    margin: 10px auto 0;
    width: 134px;
    height: 50px;
    background: #0066b8;
    border-width: 0;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-size: 16px;
}

.button:hover {
    background: #005ba4;
}

.form-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
}

.form-lable {
    margin-top: 10px;
}

.form-text {
    height: 24px;
}

.form-textarea {
    height: 10em;
    resize: none;
}

.form-button {
    background-color: #2ebc4f;
}
.form-button:hover{
    background-color: #28a745;
}

.sign-container {
    width: 300px;
    margin: auto;
}

.sign-header {
    font-weight: bold;
    font-size: 3em;
    margin: 20px 0;
    text-align: center;
}

.sign-content {
    width: 300px;
    height: auto;
    margin: auto;
    padding: 0 5px;
    border: 1px solid gray;
    border-radius: 3px;
}

.sign-content .button {
    margin: 10px 0;
    width: unset;
}

.sign-footer {
    font-size: 0.9em;
    margin: 10px 0;
    text-align: center;
}

.sign-footer a {
    color: #5599FF;
}

.sign-footer a:hover {
    color: #0e69af;
}